*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    font-family: Arial, Helvetica;
}

p{
    font-size: 20px;
}

header{
    position: sticky;
    top: 0;
    background-color:  #141414;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.welcome_heading{
    padding: 10px 5px 0px;
    font-size: 28px;
    text-align: center;
}

.personal_info_field{grid-area: personal_info_field;}
.questionnaire_field{ grid-area: questionnaire_field;}
.sign_up_button{grid-area: sign_up_button;}
.sign_up_form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  'personal_info_field questionnaire_field questionnaire_field'
    '. sign_up_button .';
}

legend{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.validate_password_label{
    display: block;
    padding-top: 5px;
}
.sign_up_form{
    margin: 20px 30px 70px;
}
.personal_info_field, .questionnaire_field{
    padding: 10px;
}

.personal_info_sec, .sign_up_form{
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}

option{
    font-size: 18px;
}

input, select{
    border-radius: 6px;
}

input:focus{
    background-color: #f7f6f6;
}
.personal_info_sec input, .personal_info_sec select{
    width: 100%;
    padding: 10px;
}



.password_msg{
    visibility: hidden;
    padding-top: 10px;
    border-bottom: solid 2px #06042E;
    font-size: 16px;
}


/*questionnaire fieldset*/
.questionnaire_field{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}

.questionnaire_sec{
    flex: 50%;
    padding: 10px 20px 10px 10px;
    margin-bottom: 20px;
    border: 3px solid #06042E;
    border-radius: 4px;


}

.questionnaire_sec input[list]{
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
}

.questionnaire_sec .radio_sec, .questionnaire_sec .check_box_sec{
    padding: 5px 0;
}


.sign_up_button{
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #06042E;
    color: #FFFFFF;
    cursor: pointer;
}

.sign_up_button:hover{
    background-color: #07044f;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #141414;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    height: 50px;

}

@media screen and (max-width: 980px) {
    .sign_up_form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:  'personal_info_field questionnaire_field'
        'sign_up_button sign_up_button';
    }

    .questionnaire_sec{
        flex: 100%;
    }

    .welcome_heading{
        font-size: 26px;
    }
}
@media screen and (max-width: 720px) {
    .sign_up_form{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:  'personal_info_field'
        'questionnaire_field'
        'sign_up_button';
    }

    footer{
        position: relative;
        height: auto;
    }

    .welcome_heading{
        font-size: 24px;
    }

    .sign_up_form, sign_up_form{
        margin: 20px 15px;
    }
}
