*, html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #1B1B1B;
	color: white;
	overflow-x: hidden;
	font-family: Arial, Helvetica;
}

@font-face {
  font-family: b612_bold;
  src: url('fonts/B612_Bold.ttf');
}

@font-face {
  font-family: b612_bold_italic;
  src: url('fonts/B612_Bold_Italic.ttf');
}

dl{font-size: 18px;}
dl dt{
	font-family: b612_bold_italic;
}
dl dd{
	padding-left: 30px;
}
 
h1, h2, h3, h4, h5, h6{
	font-family: b612_bold;
}

h1{
	font-size: 35px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 29px;
}
h4{
	font-size: 26px;
}
h5{
	font-size: 23px;
}
h6{
	font-size: 20px;
}
p{
	font-size: 18px;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

/*index page styling*/
.index_header{grid-area: header;}
.index_main{grid-area: main;}
.side_content{grid-area: side;}
.rights_footer{grid-area: footer;}

.index_page{
	display: grid;
	grid-template-areas:
    'header header header header header'
    'main main main main side'
    'footer footer footer footer footer';
}

.index_header{
	background-color: #000000;
	position: sticky;
	top: 0;
}

.header_nav{
	display: flex;
	flex-wrap: wrap;
}

.header_nav .home{
	background-color: #141414;
}
.header_nav a{
	text-decoration: none;
	text-align: center;
	padding: 10px 20px;
	font-size: 25px;
	color: #FFFFFF;
}

.header_nav a:hover{
	background-color: #1B1B1B;
}

.index_main{
	background-color: #FFFFFF;
	padding: 20px;
	color: #000000;
}

.index_main figure{
	text-align: center;
}

.index_main figure img{
	width: 50%;
	height: auto; 
	text-align: center;
}

.index_main article{
	padding-top: 20px;
}

.index_main article section{
	padding-top: 10px;
}

.index_main article section p{
	padding-top: 5px;
	text-align: justify;
  	text-justify: inter-word;
}


.side_content{
	background-color: #E1E1E1;
	color: #000000;
	padding: 10px;
}

.side_content h3{
	text-align: center;
}

.side_nav_bar ul{
	list-style-type: none;
}

.side_nav_bar li a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	padding: 10px; 
	color: #000000;
}

.side_nav_bar li a:hover{
	background-color: #F3F3F3;
}
.rights_footer{
	background-color: #1B1B1B;
	text-align: center;
	padding: 10px;
}
.rights_footer p{
	padding-top: 10px; 
}



/*set up and sql styling*/
.tutorial_body{
	display: grid;
	grid-template-columns: 20% repeat(1, 1fr) 100px;
	grid-template-rows: minmax(8vh, auto);
}

.tutorial_header{
	grid-column: 2;
  	grid-row: 1;
  	position: sticky;
	top: 0;
	background-color:  #141414;
	color: #FFFFFF;
	text-align: center;
	padding: 10px;
}

.home_nav{
	grid-column: 3;
  	grid-row: 1;
  	position: sticky;
	top: 0;
	background-color: #141414;
	padding: 10px;
	text-align: center;
}

.home_nav a{
	color: #FFFFFF;
}
.home_nav a:hover{
	color: #E1E1E1;	
}
.fa-home{
	font-size: 50px;
}

.tutorial_nav{
	grid-column: 1;
	grid-row: 1/span 3;
	height: 100vh;
	position: sticky;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #000000;
}

.tutorial_nav li{
	text-align: center;
}

.tutorial_nav li a{
	display: block;
	padding: 20px 0;
	font-size: 20px;
	color: #FFFFFF;
	border-bottom: 1px solid #1B1B1B;
}

.tutorial_nav li a:hover{
	background-color: #1B1B1B;
}

.tutorial_nav::-webkit-scrollbar-track{
  background-color: #000000;
}
.tutorial_nav::-webkit-scrollbar{
  width: 10px;
}
.tutorial_nav::-webkit-scrollbar-thumb{
  background-color: #FFFFFF;
  border-radius: 10px;
}

.tutorial_nav::-webkit-scrollbar-thumb:hover{
	background-color: #EDEBE4;
}


.tutorial_main{
	grid-column: 2/span 3;
	grid-row: 2;
	padding: 20px 0;
	background-color: #737373;
	display: flex;
	flex-wrap: wrap;
}

.tutorial_article_setup{
	text-align: center;
	width: 100%;
	border: 3px solid #141414;
	box-shadow: 5px 5px 20px #141414;
}

.tutorial_article_sql{
	text-align: center;
	width: 50%;
	border: 3px solid #141414;
	box-shadow: 5px 5px 20px #141414;
}

.tutorial_article_setup:hover, .tutorial_article_sql:hover{
	background-color: #A6A8AD;
}

.tutorial_article_setup >h2, .tutorial_article_sql >h2 {
	padding: 10px 0 20px;
	color: #000000;
}

.tutorial_article_setup >iframe{
	padding-bottom: 40px;
	width: 70%;
	height: 400px;
}

.tutorial_article_sql >iframe{
	padding-bottom: 40px;
	width: 70%;
	height: 300px;
}

.tutorial_footer{
	grid-column: 2/span 3;
	grid-row: 3;
	text-align: center;
	background-color: #141414;
}

.tutorial_footer p{
	padding: 20px;
	font-weight: bold;
}

.tutorial_footer a{
	font-size: 100px;
	color: #FF0000;
}

.tutorial_footer a:hover{
	color: #E1E1E1;
}