*, html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #FFFFFF;
	color: #000000;
	overflow-x: hidden;
	font-family: Arial, Helvetica;
}

header{
	text-align: center;
	padding: 20px;
}



.inspect_title{grid-area: inspect_title;}
.before_inspect{grid-area: before_inspect;}
.after_inspect{grid-area: after_inspect;}
.versus{grid-area: versus;}
.inspect_explain{ grid-area: inspect_explain;}

.inspect_element{
	display: grid;
	grid-template-columns: 45% 1fr 45%;
	grid-template-areas:
    'inspect_title inspect_title inspect_title'
    'before_inspect versus after_inspect'
    'inspect_explain inspect_explain inspect_explain';
    background-color: #E4E4E4;
    border-radius: 10%;
    padding: 20px 20px 50px;
    margin-bottom: 10px;
}

img{
	width: 100%;
}

h1{
	font-size: 35px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 29px;
}
p{
	font-size: 20px;
}
.inspect_element h2, .inspect_element h3, .inspect_element p{
	text-align: center;
	padding-top: 20px;
}

.versus{
	font-weight: bold;
}

footer{
	text-align: center;
	padding: 20px;
}